# Value Inc. Sales Analysis

Value Inc is a retail store that sells household items all over the world by bulk.

The Sales Manager has no sales reporting but he has a brief idea of current sales.
He wants a dashboard on the monthly cost, profit and top selling products and says the data is currently stored in an excel sheet.

Date File: (transactions.csv) â€“ 153 MB file
https://drive.google.com/file/d/1i6MQZmXUuqyqGjSGbsPrNKV-eJPAhxU/view?usp=sharing

Value Inc Seasons:
https://finch-groundhog-9245.squarespace.com/s/value_inc_seasons.csv

Logo: (Value Inc. Logo.png)
https://finch-groundhog-9245.squarespace.com/s/Value-Inc-Logo.png

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data/transaction2.csv", sep=";")
seasons = pd.read_csv("data/value_inc_seasons.csv", sep=";")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047588 entries, 0 to 1047587
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
dtypes: float64(2), int64(6), object(5)
memory usage: 103.9+ MB

In [4]:
seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Month   12 non-null     object
 1   Season  12 non-null     object
dtypes: object(2)
memory usage: 320.0+ bytes

In [5]:
seasons.head()

  Month Season
0   Jan   High
1   Feb    Mid
2   Mar    Low
3   Apr    Low
4   May    Low

In [6]:
df = data.merge(seasons, on='Month')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1047588 entries, 0 to 1047587
Data columns (total 14 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   UserId                  1047588 non-null  int64
 1   TransactionId           1047588 non-null  int64
 2   Year                    1047588 non-null  int64
 3   Month                   1047588 non-null  object
 4   Day                     1047588 non-null  int64
 5   Time                    1047588 non-null  object
 6   ItemCode                1047588 non-null  int64
 7   ItemDescription         1044797 non-null  object
 8   NumberOfItemsPurchased  1047588 non-null  int64
 9   CostPerItem             1047588 non-null  float64
 10  SellingPricePerItem     1047588 non-null  float64
 11  Country                 1047588 non-null  object
 12  ClientKeywords          1047588 non-null  object
 13  Season                  1047588 non-null  object
dtypes: float64(2), int64(6), object(6)
memory usage: 119.9+ MB

In [8]:
df.head()

,UserId,TransactionId,Year,Month,Day,Time,ItemCode,ItemDescription,NumberOfItemsPurchased,CostPerItem,SellingPricePerItem,Country,ClientKeywords,Season
0,278166,6355745,2019,Feb,2,12:50:00,465549,FAMILY ALBUM WHITE PICTURE FRAME,6,11.73,21.11,United Kingdom,"['Senior', 'Solo Entrepreneur', '2-5 Year Clie...",Mid
1,267099,6385599,2019,Feb,15,09:45:00,490728,SET 12 COLOUR PENCILS DOLLY GIRL,72,0.90,1.62,France,"['Middle Age', 'Corporation', '2-5 Year Client']",Mid
2,328440,6387425,2019,Feb,16,10:35:00,494802,SET OF 6 RIBBONS PERFECTLY PRETTY,36,3.99,5.59,United Kingdom,"['Adult', 'Small Business', 'New Client']",Mid
3,364791,6358242,2019,Feb,3,09:25:00,486276,SET OF 5 MINI GROCERY MAGNETS,3,2.88,3.74,United Kingdom,"['Young Adult', 'Small Business', 'Loyal Client']",Mid
4,-1,6388019,2019,Feb,16,13:24:00,490329,ROLL WRAP VINTAGE CHRISTMAS,30,3.40,4.42,United Kingdom,"['Middle Age', 'Solo Entrepreneur', '2-5 Year ...",Mid

### Calculate Cost, Profit, Sales, and Markup

In [9]:
df["ProfitPerItem"] = df["SellingPricePerItem"]-df["CostPerItem"]
df["ProfitPerTransaction"] = df["NumberOfItemsPurchased"]*df["ProfitPerItem"]
df["CostPerTransaction"] = df["NumberOfItemsPurchased"]*df["CostPerItem"]
df["SalesPerTransaction"] = df["NumberOfItemsPurchased"]*df["SellingPricePerItem"]
df["Markup"] = df["ProfitPerTransaction"]/df["CostPerTransaction"]

In [10]:
df['MarkupRounded'] = round(df['Markup'], 2)

In [11]:
new_cols = ["ProfitPerItem" ,"ProfitPerTransaction" ,"CostPerTransaction" ,"SalesPerTransaction" ,"Markup", "MarkupRounded"]
df[new_cols].head()

,ProfitPerItem,ProfitPerTransaction,CostPerTransaction,SalesPerTransaction,Markup,MarkupRounded
0,9.38,56.28,70.38,126.66,0.799659,0.8
1,0.72,51.84,64.80,116.64,0.800000,0.8
2,1.60,57.60,143.64,201.24,0.401003,0.4
3,0.86,2.58,8.64,11.22,0.298611,0.3
4,1.02,30.60,102.00,132.60,0.300000,0.3

In [12]:
df[new_cols].tail()

,ProfitPerItem,ProfitPerTransaction,CostPerTransaction,SalesPerTransaction,Markup,MarkupRounded
1047583,1.60,9.60,13.68,23.28,0.701754,0.7
1047584,2.32,83.52,104.40,187.92,0.800000,0.8
1047585,1.64,9.84,32.76,42.60,0.300366,0.3
1047586,2.40,7.20,24.00,31.20,0.300000,0.3
1047587,18.36,55.08,68.85,123.93,0.800000,0.8

In [13]:
df[new_cols].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1047588 entries, 0 to 1047587
Data columns (total 6 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   ProfitPerItem         1047588 non-null  float64
 1   ProfitPerTransaction  1047588 non-null  float64
 2   CostPerTransaction    1047588 non-null  float64
 3   SalesPerTransaction   1047588 non-null  float64
 4   Markup                1042743 non-null  float64
 5   MarkupRounded         1042743 non-null  float64
dtypes: float64(6)
memory usage: 55.9 MB

## Combine Day, Month, Year Fields

In [14]:
print(df["Day"].dtype)
print(df["Month"].dtype)
print(df["Year"].dtype)

int64
object
int64

In [15]:
df['date'] = df["Day"].astype(str)+"-"+df["Month"].astype(str)+"-"+df["Year"].astype(str)

## Split into Columns from ClientKeywords

In [16]:
split_cols = df['ClientKeywords'].str.split(',', expand=True)

In [17]:
split_cols.head()

                0                     1                    2
0       ['Senior'   'Solo Entrepreneur'   '2-5 Year Client']
1   ['Middle Age'         'Corporation'   '2-5 Year Client']
2        ['Adult'      'Small Business'        'New Client']
3  ['Young Adult'      'Small Business'      'Loyal Client']
4   ['Middle Age'   'Solo Entrepreneur'   '2-5 Year Client']

In [18]:
df['ClientAge'] = split_cols[0]
df['ClientType'] = split_cols[1]
df['LengthOfContract'] = split_cols[2]

df['ClientAge'] = df['ClientAge'].str.replace('[', '')
df['LengthOfContract'] = df['LengthOfContract'].str.replace(']', '')

In [19]:
client_cols_new = ['ClientAge' ,'ClientType' ,'LengthOfContract']
df[client_cols_new].head()

       ClientAge            ClientType    LengthOfContract
0       'Senior'   'Solo Entrepreneur'   '2-5 Year Client'
1   'Middle Age'         'Corporation'   '2-5 Year Client'
2        'Adult'      'Small Business'        'New Client'
3  'Young Adult'      'Small Business'      'Loyal Client'
4   'Middle Age'   'Solo Entrepreneur'   '2-5 Year Client'

Change Item Description to Lowercase

In [20]:
df['ItemDescription'] = df['ItemDescription'].str.lower()

Drop Columns

In [21]:
cols_to_drop = ["ClientKeywords" ,"Day" ,"Month", "Year"]
df = df.drop(cols_to_drop, axis=1)

## Export Data

In [22]:
df.to_csv('data/value_inc_cleaned.csv', index=False)